*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(back.jpeg);
    background-position: center;
    background-size: cover ;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 20px 20px;
}

.nav-logo img{
    width: 120px;
}
.nav-link{
    flex: 1;
}

.nav-link ul{
    margin-left: 50px;
    display: inline;
}
.nav-link ul button{
    list-style: none;
    display: inline;
    padding: 8px 25px;
    background: none;
    font-size: 13px;
    border: transparent;
}
.nav-link ul a{
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}

.nav-link ul button :hover{
    border-bottom-color: yellow;
    animation: 0.5s;
}
